body {
  background: lightblue;
  max-width: 1400px;
  margin: auto;
}

.container > .header {background-color: red;}
.container > .menu {background-color: yellow;}
.container >.main {background-color: yellow;}
.container > .right {background-color: yellow;}
.container > .footer {background-color: red;}


.container {
  display: grid;
  grid-gap: 5px;
  grid-template: 50px 500px 50px / repeat(4, 1fr);
  grid-template-areas:
          "h h h h"
          "m ma ma r"
          "f f f f";
}

.container > * {
    display: flex;
    font-size: 2rem;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.header {grid-area: h;}
.menu {grid-area: m;}
.main {grid-area: ma;}
.right {grid-area: r;}
.footer {grid-area: f;}


@media only screen and (max-width: 550px) {
  .container {
    grid-template: 1fr / 1fr;
    grid-template-areas:
            "h"
            "m"
            "ma"
            "r"
            "f";
}
}
